.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.h3 {
  margin: 0;
}

.inputNumber {
  width: 40px;
  height: 16px;
  line-height: 16px;
  padding: 4px 0 4px 4px;
  border: solid 1px #ccc;
  border-radius: 4px;
}
